<header>
    <div class="inner">
        <nav>
            <ul>
                {% for section in site.data.navigation.sections %}
                <li><a href={{ section.url }}>{{ section.text }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <div class="site__title">
            <a href=/{{ site.baseurl }}>{{ site.title }}</a>
        </div>
        <h2> {{ site.tagline }} </h2>

        <div class="social__networks">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="fab fa-github fa-lg" aria-hidden="true"></i>
            </a>
            <a href="https://stackoverflow.com/users/2017611/nicolas-dupouy" target="_blank">
                <i class="fab fa-stack-overflow fa-lg" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/nicolas_dupouy" target="_blank">
                <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</header>